env
.trash
BotConfigs
.DS_Store
.macenv
.vscode
__pycache__
#*.csv
*.ini
*.db

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.winenv


# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.idea/
.patch
.DS_Store
*.haasbots
Mad_hatter_rotator.py
pp.json
config.ini
mh.py
mad_hatter_bf_try1.py
dashappp.py
selenium_script.py
BINANCE,ADA,BNB.csv
BINANCE,ADA,BNB.csv
2bots.csv
app.py
*.csv
pandasplay.py
test_Haas.py
cache_function.py
BINANCE,ADA,BNB.csv
app.py
*.icloud
afasdgdsfg.py
app copy.py
app.py
app3.py
BackTestingClass.py
app.py
BINANCE,ADA,BNB.csv
BINANCE,ADA,BNB.csv
backtester.py
BINANCE,ADA,BNB.csv
apibenchmark.py
botconfigs.csv
notes.py
pong.kv
pydygraph.py
haasscript.js
indicatorRanges_1.py
HaasFilesClass.py
haasdashlayout.py
haascallbacks.py
Haas.kv
haas.css
gui.py
file.env
dash-technical-charting/
completedor.py
botconfigs.csv
BINANCE,ADA,BNB.csv
wasdasd.py
workspace.code-workspace
w.code-workspace
quantmod/version.py
quantmod/vendors/sources.py
quantmod/vendors/__init__.py
quantmod/valid.py
quantmod/utils.py
quantmod/tools.py
quantmod/theming/themes.py
quantmod/theming/skeleton.py
quantmod/theming/palettes.py
quantmod/theming/colors.py
quantmod/theming/__init__.py
quantmod/tanolib.py
quantmod/ta.py
quantmod/factory.py
quantmod/datetools.py
quantmod/core.py
quantmod/chart.py
quantmod/auth.py
quantmod/__init__.py
IndicatorsClass.py
botconfigs.csv
bt123.py
btalib2.py
deepai.py
export.html
log_file
BINANCE,ADA,BNB.csv
.replit
marketscsv.py
me.jpg
premut.py
savehistory_old.py
temp.py
vid_scripts.py
